/* ---- reset ---- */
@import url('https://fonts.googleapis.com/css?family=Lato');
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

ul {
  list-style-type: none;  
}

li a {
  text-decoration: none;
  color: #11b198;
}


/* ---- typography ---- */


/* ---- layout ---- */


.container {
  margin: 0 40px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}



/*-----nav bar ---*/

.nav-bar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: white;
  top: 0;
  margin-bottom: 50px;
  width: 100%;
  height: 80px;
}

.nav-bar ul {
  display: flex;  
}

.nav-bar li {
  margin-right: 20px;
}

.bussines, .people {
  display: none;
}

.cta {
  background: #11b198;
  width: 100px;
  height: 50px;
  border: none;
  color: aliceblue;
  border-radius: 8px 8px 8px 8px;
  margin-top: 20px;
}

#features {
  height: 50%;
  display: grid;
  grid-template-areas: 
  "standard standard premium premium" 
  "left right izq right1";
  justify-items: center;
}

.standard {
  grid-area: standard;  
}

.premium {
  grid-area: premium;  
}

.standard, .premium {
  color: #11b198;
  font-weight: 500;
  font-size: 2em;
  margin-bottom: 70px;
  justify-self: start;
  margin-left: 40px;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}

.izq {
  grid-area: izq;
}

.right1 {
  grid-area: right1;
}



#comments {
  margin-top: 100px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "h2 h2 h2"
                       "jack mary nuria"
                       "button button button";
  justify-items: center;
}

#comments h2 {
  grid-area: h2;
  margin-bottom: 70px;
}

.jack {
  grid-area: jack;  
}

.mary {
  grid-area: mary;
}
.nuria {
  grid-area: nuria;
}
#comments button {
  grid-area: button;
}

.names {
  color: #11b198;
}

.city {
  color: black;
}

.say {
  color: grey;
}

#header{
  margin-bottom: 100px;
  margin-left:50px;
  margin-top: 100px;
  display:grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto auto auto;
  grid-template-areas: "tittle image"
                       "text image"
                       "button image";
                       
                       
 }
 .tittle{
  font-family: 'lato';
  grid-area: tittle;
  text-align:center;
 }
 
 .text{
  font-size:20px;
  font-family:'lato';
  grid-area:text;
  text-align: center;
 }
 .cta{
    color:white;
    background-color:#1BCEB1;
    border:none;
    grid-area:button;
    justify-self: center;
    align-self: center;
    width:150px;
    height: 50px;
 }
 
 .imagen{
    grid-area:image;
    justify-self: end;
 }


 #steps{
    margin-top: 100px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "tittlex tittlex tittlex tittlex"
                       "ste1 ste2 ste3 ste4"
                       "buttox buttox buttox buttox";
 }

 .steps div {
   display: grid;   
 }
 .step-tittle{
  grid-area: tittlex;
  margin-bottom: 80px;
 }
 
 .step1{
  grid-area:ste1;
 }
 
 .step2{
  grid-area:ste2;
 }
 
 .step3{
  grid-area:ste3;
 }
 
 .step4{
  grid-area:ste4;
 }
 
 #steps .cta{
 grid-area: buttox;
 color:white;
 background-color:#1BCEB1;
 border:none;
 width:150px;
 height: 50px; 
 }

 #contact{
   margin-top: 100px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:1fr 1fr;
  grid-template-areas: "social contact-us play-store"
                       "social-icons our-company app-store";
 
 }






